:root {
    --background-1: #1d1d19;
    --background-2: #111010;
    --foreground-1: #c5b7b7;
    --foreground-2: #d8d4c2;
    --highlight-color: #AE81FF;
    --neutral-color: #75715E;
    --success-color: #A6E22E;
    --warning-color: #ffdbb0;
    --danger-color: #F92672;
    --border-color: #343434;
    --sn-stylekit-info-color-darkened: #7B5BD4;
    --sn-stylekit-info-backdrop-color: rgba(174, 129, 255, 0.18);

    --sn-stylekit-base-font-size: 12px;
    --sn-stylekit-font-size-p: 1rem;
    --sn-stylekit-font-size-editor: 1rem;
    --sn-stylekit-font-size-h6: 0.8rem;
    --sn-stylekit-font-size-h5: 0.9rem;
    --sn-stylekit-font-size-h4: 1rem;
    --sn-stylekit-font-size-h3: 1.1rem;
    --sn-stylekit-font-size-h2: 1.2rem;
    --sn-stylekit-font-size-h1: 1.3rem;
  
    --sn-stylekit-neutral-color: var(--neutral-color);
    --sn-stylekit-neutral-contrast-color: var(--background-2);
  
    --sn-stylekit-info-color: var(--highlight-color);
    --sn-stylekit-info-contrast-color: #111010;
  
    --sn-stylekit-success-color: var(--success-color);
    --sn-stylekit-success-contrast-color: var(--background-2);
  
    --sn-stylekit-warning-color: var(--warning-color);
    --sn-stylekit-warning-contrast-color: var(--background-2);
  
    --sn-stylekit-danger-color: var(--danger-color);
    --sn-stylekit-danger-contrast-color: var(--background-2);
  
    --sn-stylekit-shadow-color: var(--background-2);
    --sn-stylekit-background-color: var(--background-1);
    --sn-stylekit-foreground-color: var(--foreground-1);
    --sn-stylekit-border-color: var(--border-color);
  
    --sn-stylekit-contrast-background-color: #1E1D1A;
    --sn-stylekit-contrast-foreground-color: var(--foreground-2);
    --sn-stylekit-contrast-border-color: var(--border-color);
  
    --sn-stylekit-secondary-background-color: var(--background-2);
    --sn-stylekit-secondary-foreground-color: var(--foreground-2);
    --sn-stylekit-secondary-border-color: var(--border-color);
  
    --sn-stylekit-secondary-contrast-background-color: #2A2A24;
    --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-1);
    --sn-stylekit-secondary-contrast-border-color: var(--border-color);
  
    --sn-stylekit-editor-background-color: var(--background-1);
    --sn-stylekit-editor-foreground-color: var(--foreground-2);
  
    --sn-stylekit-paragraph-text-color: var(--foreground-1);
  
    --sn-stylekit-input-placeholder-color: var(--foreground-2);
    --sn-stylekit-input-border-color: var(--border-color);
  
    --sn-stylekit-scrollbar-thumb-color: var(--foreground-2);
    --sn-stylekit-scrollbar-track-border-color: var(--foreground-2);
  
    --sn-stylekit-general-border-radius: 2px;
  
    --sn-stylekit-monospace-font: 'Roboto Mono', 'Ubuntu Mono', 'Droid Sans Mono', courier, monospace;
    --sn-stylekit-sans-serif-font: 'Inter', 'Roboto', 'Ubuntu',
    'Droid Sans', 'Helvetica Neue', -apple-system, sans-serif;
  
    --sn-stylekit-grey-1: #72767e;
    --sn-stylekit-grey-2: #bbbec4;
    --sn-stylekit-grey-3: #dfe1e4;
    --sn-stylekit-grey-4: #eeeff1;
    --sn-stylekit-grey-4-opacity-variant: #bbbec43d;
    --sn-stylekit-grey-5: #f4f5f7;
    --sn-stylekit-grey-6: #e5e5e5;

    --sn-stylekit-passive-color-1: #2A2925;
    --sn-stylekit-passive-color-2: #34322D;
    --sn-stylekit-passive-color-3: #3E3B35;
    --sn-stylekit-passive-color-4: #4A463D;
    --sn-stylekit-passive-color-4-opacity-variant: rgba(74, 70, 61, 0.35);
    --sn-stylekit-passive-color-5: #565044;
    --sn-stylekit-passive-color-6: #625A4C;
  
    --sn-stylekit-accessory-tint-color-1: #086dd6;
    --sn-stylekit-accessory-tint-color-2: #ea6595;
    --sn-stylekit-accessory-tint-color-3: #ebad00;
    --sn-stylekit-accessory-tint-color-4: #7049cf;
    --sn-stylekit-accessory-tint-color-5: #1aa772;
    --sn-stylekit-accessory-tint-color-6: #f28c52;

    --text-selection-color: var(--sn-stylekit-info-contrast-color);
    --text-selection-background-color: var(--sn-stylekit-info-color);

    --items-column-search-background-color: #1B1A18;
    --item-cell-selected-background-color: #2A2A24;
    --item-cell-selected-border-left-color: var(--highlight-color);

    --navigation-column-background-color: #161616;
    --navigation-section-title-color: var(--foreground-2);
    --navigation-item-text-color: var(--foreground-2);
    --navigation-item-count-color: var(--neutral-color);
    --navigation-item-selected-background-color: #2A2A24;
    --preferences-navigation-selected-background-color: #2A2A24;
    --preferences-navigation-icon-color: var(--neutral-color);

    --dropdown-menu-radio-button-inactive-color: var(--neutral-color);
  }
  
